@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
	font-family: "Open Sans", sans-serif;
	padding-top: 8vh;
	padding-left: 15vw;
	padding-right: 15vw;
}

header {
	width: 100%;
}


header nav {
	position: relative;
	width: 50%;
}

header nav ul {
	list-style: none;
	padding-left: 0px;
	text-align: left;
}

header nav ul li {

	display: inline;
	padding-right: 25px;
}

header nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 1em;
	font-weight: 400;

}

header nav ul li a.active {
    text-decoration: underline;
}


header nav ul li a:hover {
	font-style: italic;
}



#page {
	min-height: 100%;
	position: relative;
}


#wrap {
	width: 80vw;
	height: 80vh;
	overflow: auto;
}


#header-main {
	float: right;
	padding-top: 0px;
}


#index-content {
	padding-top: 5vh;
	height: 65vh;
}

#selected_works {
	float: left;
	width: 65%;
}

#banner img {
	padding-top: 10px;
	width: 98%;
}

#banner a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 1em;
	/*font-style: italic;*/
}

#banner img:hover {
	box-shadow: 1px 2px 0px 2px #cccccc;
}

#banner a:hover {
	/*text-decoration: underline;*/
	font-style: italic;
}

#about {
	float: right;
	width: 27%;
	display: block;
}

#about p {
	font-size: 90%;
}

#index-h1 {
	font-size: 1.1em;
	font-weight: 600;
}

#cv-h1{
	font-size: 1.1em;
	font-weight: 600;
}

#education {
	line-height: 1.2;
}

#index-about {
	line-height: 1.2;
	font-size: 90%;
	text-align: justify;
}

#cv-content {
	padding-top: 5vh;
	height: 70vh;
	margin-bottom: 5%;
	font-size: 0.9em;
	font-weight: 300;
}


#cv-left-column {
	float: left;
	width: 50%;
}

#cv-right-column {
	float: right;
	width: 50%;
	text-align: left;
}




#work-content {
	padding-top: 5vh;
	height: 65vh;
}


#work-left-column {
	float: left;
	width: 15%;
	font-size: 0.9em;
}

#work-left-column nav {
	position: relative;
}

#work-left-column nav ul {
	list-style: none;
	padding-left: 0px;
	text-align: left;
	width: 100%;
}

#work-left-column nav ul li {
	padding-bottom: 5px;
}

#work-left-column nav ul li a {
	text-decoration: none;
	display: block;
	color: black;
	font-size: 1em;
	font-weight: 400;

}

#work-left-column nav ul li a.active {
    //font-weight: 600;
    //text-decoration: underline;
    background-color: black;
    color: white;
    font-weight: 600;
}


#work-left-column nav ul li a:hover {
	font-style: italic;
}

#work-right-column {
	float: right;
	width: 80%;
	font-size: 0.9em;
}


#work-h1 {
	font-size: 1.5em;
	font-weight: 600;
}

#work-p {
	font-style: italic;
	font-weight: 300;
	font-size: 0.8em;
	padding-bottom: 0;
	padding-top: 0;
}

#left-side {
	float: left;
	width: 65%;
}

#left-side img {
	padding-bottom: 10px;
}

#left-side a {
	text-decoration: none;
	color: black;
}

#left-side a:hover {
	font-style: italic;
}

#right-side {
	float: right;
	width: 35%;
}

#right-side a {
	text-decoration: none;
	font-style: italic;
	background-color: black;
	color: white;
}

#right-side a:hover {
	font-size: 1.2em;
}

#up-box {
	padding-bottom: 10px;
	text-align: justify;
	line-height: 1.5;
}

#project-content {
	padding-top: 20px;
	padding-bottom: 1000px;
}

#project-content-mannequin {
	padding-top: 30px;
	padding-bottom: 1200px;
}

#project-content-fun-taipei {
	padding-top: 30px;
	padding-bottom: 1200px;
}

#project-content-circuit {
	padding-top: 30px;
	padding-bottom: 1200px;
}

#project-pics {
	float: right;
	width: 85%;
}

#project-pics table {
	padding-bottom: 15px;
}

#project-pics td {
	padding-left: 15px;
	font-size: 0.9em;
	font-weight: 600;
	vertical-align: top;
	width: 33%
}

#project-pics td a {
	text-decoration: none;
	color: black;
}

#project-pics td img {
	width: 100%;
}

#project-pics td img:hover {
	box-shadow: 0 0 3px 3px #cccccc;
}

#project-pics td a:hover {
	font-style: italic;
}

#project-pics .mySlides {
}


#project-pics .demo { 
}

#hobby-content {
	padding-top: 5vh;
	height: 85vh;
	width: 100%;
}

#hobby-content td {
	vertical-align: top;
}

#photography {
	padding-right: 2%;
}


#photography-content {
	padding-top: 5vh;
	height: 65vh;
	width: 100%;
}

.mySlides {
	display:none;
}

#draw-content {
	padding-top: 5vh;
	height: 250vh;
	width: 100%;
}

.year {
	font-style: italic;
}

.bold {
	font-weight: 400;
}

footer {
	/*border: 3px solid black;*/
	float: bottom;
	position: relative;
	text-align: center;
	height: 10%;
	margin-top: 1%;
	font-size: 0.5em;
}

#foot {
	/*float: bottom;*/
	
}








/*hobby hover*/

#photography .container {
	position: relative;
	//width: 50%
}

#photography .image {
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
}

#photography .middle {
	transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#photography .container:hover .image{
	filter: grayscale(100%);
	opacity: 0.2;
}

#photography .container:hover .middle{
	opacity: 1;
} 

#photography .text {
    color: #6d6d6d;
    font-style: italic;
    font-weight: 300;
    font-size: 2vw;
    font-weight: 600;
}

#lettering .container {
	position: relative;
	//width: 50%
}

#lettering .image {
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
}

#lettering .middle {
	transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#lettering .container:hover .image{
	filter: grayscale(100%);
	opacity: 0.2;
}

#lettering .container:hover .middle{
	opacity: 1;
} 

#lettering .text {
    color: #6d6d6d;
    font-style: italic;
    font-weight: 300;
    font-size: 2vw;
    font-weight: 600;
}

#drawing .container {
	position: relative;
	width: 70%
}

#drawing .image {
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
}

#drawing .middle {
	transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#drawing .container:hover .image{
	filter: grayscale(100%);
	opacity: 0.2;
}

#drawing .container:hover .middle{
	opacity: 1;
} 

#drawing .text {
    color: #6d6d6d;
    font-style: italic;
    font-weight: 300;
    font-size: 2vw;
    font-weight: 600;
}

/*hobby hover*/





#button {
	padding: 10px 15px;
	display: inline-block;
	border: none;
	background-color: #e7e7e7;
	color: black;
}

#button:hover {
	background-color: black;
	border: none;
}



#gallery {
	float: right;
	width: 84%;
	display: flex;
	/*padding-left: 10%;*/
	/*border: 1px solid black;*/
}

.column {
	float: right;
	display: inline-block;
	margin-left: 1vw;
	/*left: 1%;*/
	width: 32%;
}

.column img {
	margin-bottom: 1vw;
	width: 100%;
}

#photo-left-column {
	float: left;
	width: 15%;
	font-size: 0.9em;
	/*padding-right: 5%;*/
}

#photo-left-column nav {
	position: relative;
}

#photo-left-column nav ul {
	list-style: none;
	padding-left: 0px;
	text-align: left;
	width: 100%;
}

#photo-left-column nav ul li {
	padding-bottom: 5px;
}

#photo-left-column nav ul li a {
	text-decoration: none;
	display: block;
	color: black;
	font-size: 1em;
	font-weight: 400;

}

#photo-left-column nav ul li a.active {
    //font-weight: 600;
    //text-decoration: underline;
    background-color: black;
    color: white;
    font-weight: 600;
}


#photo-left-column nav ul li a:hover {
	font-style: italic;
}